{% extends "app/layout.html" %} {% load static %}

{% block title %}
    Password Change - {{ block.super }}
{% endblock %}

{% block body %}

    <div class="card p-2 text-center d-block">

            <h3 class="text-success">
                <i class="bi bi-check-circle-fill text-success me-2"></i> Password changed
            </h3>
            <br>
            <a class="btn-outline-success text-success w-50" type="button" aria-current="page" href="{% url 'index' %}">
                <i class="bi bi-person-circle text-success" ></i>
                Home
            </a>

    </div>

{% endblock %}