<tr  class='editing' scope="row" >





      <td colspan="2"  id="numberRowEditBtn-{{number.ball_id}}" class="collapse show">
          <div class="d-flex justify-content-between">
          <select class="form-select" name='selected_player_id' size="">

            <option value="0">Remove {{ number.player }} from {{ number.ball_id }}</option>
{#
            <option selected value="{{ number.player.id }}">{{ number.player }}</option>
              {% for player in players %}
                  {% if player.id != number.player.id %}
                    <option value="{{ player.id }}">{{ player.name }}</option>
                  {% endif %}
              {%  endfor %}
          </select>

        <button class="btn btn-sm btn-light ms-2 me-1" data-bs-toggle="collapse" data-bs-target="#numberRowEditBtn-{{number.ball_id}}">
          <i class="bi bi-x-square text-danger" style="font-size: 1rem;"></i>
        </button>
        <button class="btn btn-sm btn-info ms-1 "
                hx-post="{% url "edit_number__player" number.ball_id %}"
                hx-include="closest tr"
                hx-params="*"
                hx-target="closest tr"
                hx-swap="outerHTML">
          <i class="bi bi-check-square" style="font-size: 1rem;"></i>
        </button>
              </div>
    </td>
</tr>