{% load crispy_forms_tags %}
{% include 'app/messages.html' %}
<div
id="collapseEditEvent"
class="collapse show"
data-bs-parent="#content-div">
        <div class="card text-light p-1 mb-1 mt-1">
            <div class="card-header d-flex justify-content-between">
                <h3 class="col-11 p-1"><i class="bi bi-person-plus"></i> Edit Event</h3>
                {% comment %} <button type="button" class="btn-close btn-close-white" aria-label="Close" data-bs-toggle="collapse" data-bs-target="#collapseNewContact"></button> {% endcomment %}
            </div>

                <div class="card card-body" style="background-color: #0d2513;">
                    <form method="POST">
                        <!-- Security token by Django -->
                        {% csrf_token %}

                        <!-- form as paragraph -->
                        {{ event_form | crispy }}

                        <input type ="hidden" name="id" value="{{ event.id }}">
                        <button class="btn btn-success" hx-post="/event/{{event.id}}/edit" hx-target="#collapseEditEvent" hx-swap="outerHTML" >Update</button>
                    </form>
                </div>
        </div>
</div>